body {
    margin: 0;
    background: grey;
    color: white;
    font-family: Roboto, arial, sans-serif;
    text-align: center;
  }

#title {
    font-family: 'Zen Loop', cursive;
    font-size: 36px;
}

#result,
.button {
    font-family: Truculenta, arial, sans-serif;
    font-size: 24px;
    text-align: center;
  }