body {
    margin: 0;
    background: grey;
    color: white;
    font-family: Roboto, arial, sans-serif;
    text-align: center;
  }

#title {
    font-family: 'Zen Loop', cursive;
    font-size: 36px;
}

#action-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#result,
#score-board,
.cbutton {
    font-family: Truculenta, arial, sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

.rbutton {
    font-family: Truculenta, arial, sans-serif;
    gap: 20px;
    font-size: 24px;
}